body {
  margin: 0;
  font-family: Arial;
  background: #0b0b0f;
  color: white;
}

/* HEADER */
.header {
  text-align: center;
  padding: 25px;
  background: linear-gradient(90deg, #e50914, #6d28d9);
}

.header h1 {
  margin: 0;
}

/* LAYOUT */
.container {
  display: flex;
  gap: 20px;
  padding: 20px;
}

/* FORM */
.form {
  width: 40%;
  background: #141414;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(229,9,20,0.2);
}

input, textarea {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 8px;
  border: none;
  background: #222;
  color: white;
}

/* BUTTONS */
button {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background: #e50914;
  color: white;
  font-weight: bold;
}

button:hover {
  background: #b20710;
}

/* CV PREVIEW */
#cv-preview {
  width: 60%;
  background: #141414;
  padding: 20px;
  border-radius: 12px;
}

/* CV DESIGN */
.cv {
  display: flex;
}

.left {
  width: 35%;
  background: #e50914;
  padding: 20px;
  border-radius: 10px;
}

.right {
  width: 65%;
  padding: 20px;
}

h2 {
  color: #e50914;
}
